[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CalSim"]
	path = CalSim
	url = https://github.com/cran/CalSim
[submodule "ExactMultinom"]
	path = ExactMultinom
	url = https://github.com/cran/ExactMultinom
